@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header,
.footer {
  display: flex;
  justify-content: space-between;
  padding: 16px;
}

.left-links,
.right-links {
  display: flex;
  gap: 16px;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.left-links {
  margin-right: auto;
}

.right-links {
  margin-left: auto;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
}


.buttons {
  gap: 8px;
}

.footer {
  display: flex;
  background-color: #eeeeee;
}

a {
  color: rgb(88, 88, 88);
  font-weight:'500';
  text-decoration: none;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  padding: 8px;
  font-weight: 700;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}
